<div class="container">
  <div class="heading" *ngIf="!showForm">
    <h4 class="list-title"><span class="table-caption">User List</span></h4>
    <a href="javascript:void(0)" title="Add" (click)="openForm()"><span class="fa fa-plus-circle"
        style="color: blue; font-size: 30px; cursor: pointer;"></span></a>
  </div>
  <div *ngIf="showForm">
    <app-create-user (ngFormCancel)="onCancel($event)" (ngFormSubmit)="onFormSubmit($event)"></app-create-user>
  </div>
  <table class="table table-striped" *ngIf="!isCreate">
    <thead class="table-head">
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let list of usersList">
        <td><span *ngIf="list.name; else dash">{{list.name | titlecase}}</span></td>
        <td><span *ngIf="list.gender; else dash">{{list.gender}}</span></td>
        <td><span *ngIf="list.age; else dash">{{list.age}}</span></td>
        <td><span *ngIf="list.email; else dash">{{list.email}}</span></td>
        <td><span *ngIf="list.phone; else dash">{{list.phone}}</span></td>
        <td><span *ngIf="list.address?.city; else dash">{{list.address.city}}</span></td>
        <td><a href="javascript:void(0)" (click)="onEditUser(list.id)"><span class="fa fa-edit"
              style="color: green; font-size: 20px;margin-right: 10px;"></span></a> <a (click)="onDeleteUser(list.id)" href="javascript:void(0)"
            style="color: #f00; font-size: 20px;"><span class="fa fa-trash"></span></a></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #dash>---</ng-template>
