<h4>User Form</h4>

<div class="user-form">
  <!-- <form #userForm="ngForm" name="form" (ngSubmit)="userForm.form.valid && onSubmit(userForm)" novalidate>
    <div class="form-group">
      <label for="">First Name:</label>
      <input type="text" class="form-control" [(ngModel)]="fname" name="t1" #t1="ngModel" required minlength="3">
      <div *ngIf="userForm.submitted && t1.invalid">
        <span class="error" *ngIf="t1.errors.required">First name is required</span>
        <span class="error" *ngIf="t1.errors.minlength">Minimum character should be 3</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Last Name:</label>
      <input type="text" class="form-control" [(ngModel)]="lname" name="t2" #t2="ngModel" required minlength="3">
      <div *ngIf="userForm.submitted && t2.invalid">
        <span class="error" *ngIf="t2.errors.required">Last name is required</span>
        <span class="error" *ngIf="t2.errors.minlength">Minimum character should be 3</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">City Name:</label>
      <input type="text" class="form-control" [(ngModel)]="city" name="t3" #t3="ngModel" minlength="3" required>
      <div *ngIf="userForm.submitted && t3.invalid">
        <span class="error" *ngIf="t3.errors.required">First name is required</span>
        <span class="error" *ngIf="t3.errors.minlength">Minimum character should be 3</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Pincode:</label>
      <input type="text" class="form-control" [(ngModel)]="pincode" name="t4" #t4="ngModel" pattern="\d{6}" required>
      <div *ngIf="userForm.submitted && t4.invalid">
        <span class="error" *ngIf="t4.errors.required">First name is required</span>
        <span class="error" *ngIf="t4.errors.pattern">Pincode should be number and 6 digit</span>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
  </form> -->

</div>
