<h4>User Form</h4>

<div class="user-form">
  <!-- <form #userForm="ngForm" name="form" (ngSubmit)="userForm.form.valid && onSubmit(userForm)" novalidate>
    <div class="form-group">
      <label for="">First Name:</label>
      <input type="text" class="form-control" [(ngModel)]="fname" name="t1" #t1="ngModel" required minlength="3">
      <div *ngIf="userForm.submitted && t1.invalid">
        <span class="error" *ngIf="t1.errors.required">First name is required</span>
        <span class="error" *ngIf="t1.errors.minlength">Minimum character should be 3</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Last Name:</label>
      <input type="text" class="form-control" [(ngModel)]="lname" name="t2" #t2="ngModel" required minlength="3">
      <div *ngIf="userForm.submitted && t2.invalid">
        <span class="error" *ngIf="t2.errors.required">Last name is required</span>
        <span class="error" *ngIf="t2.errors.minlength">Minimum character should be 3</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">City Name:</label>
      <input type="text" class="form-control" [(ngModel)]="city" name="t3" #t3="ngModel" minlength="3" required>
      <div *ngIf="userForm.submitted && t3.invalid">
        <span class="error" *ngIf="t3.errors.required">First name is required</span>
        <span class="error" *ngIf="t3.errors.minlength">Minimum character should be 3</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Pincode:</label>
      <input type="text" class="form-control" [(ngModel)]="pincode" name="t4" #t4="ngModel" pattern="\d{6}" required>
      <div *ngIf="userForm.submitted && t4.invalid">
        <span class="error" *ngIf="t4.errors.required">First name is required</span>
        <span class="error" *ngIf="t4.errors.pattern">Pincode should be number and 6 digit</span>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">SUBMIT</button>
    </div>
  </form> -->

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="">Name:</label>
      <input type="text" class="form-control" formControlName="name">
      <div *ngIf="f.name.invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
        <span class="error" *ngIf="f.name.errors.required">Name is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Designation:</label>
      <input type="text" class="form-control" formControlName="designation">
      <div *ngIf="f.designation.invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
        <span class="error" *ngIf="f.designation.errors.required">Designation is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Phone:</label>
      <input type="tel" class="form-control" formControlName="phone">
      <div *ngIf="f.phone.invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
        <span class="error" *ngIf="f.phone.errors.required">Phone is required</span>
        <span class="error" *ngIf="f.phone.errors.pattern">Phone should be number only</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Email:</label>
      <input type="email" class="form-control" formControlName="email">
      <div *ngIf="f.email.invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
        <span class="error" *ngIf="f.email.errors.required">Email is required</span>
        <span class="error" *ngIf="f.email.errors.pattern">Email should be in valid format</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Age:</label>
      <input type="number" class="form-control" formControlName="age">
      <div *ngIf="f.age.invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
        <span class="error" *ngIf="f.age.errors.required">Age is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Gender:</label>
      <div class="radio">
        <label for=""><input type="radio" class="form-control" value="male" formControlName="gender">Male</label>
      </div>
      <div class="radio">
        <label for=""><input type="radio" class="form-control" value="female" formControlName="gender">Female</label>
      </div>
      <div *ngIf="f.gender.invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
        <span class="error" *ngIf="f.gender.errors.required">Gender is required</span>
      </div>
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="">Country:</label>
        <select name="" id="" class="form-control" formControlName="country">
          <option>Select Country</option>
          <option value="India">India</option>
          <option value="USA">USA</option>
          <option value="UK">USA</option>
        </select>
        <div *ngIf="userForm.get('address.country').invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
          <span class="error" *ngIf="userForm.get('address.country').errors.required">Country is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="">State:</label>
        <select name="" id="" class="form-control" formControlName="state">
          <option>Select State</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Telangana">Telangana</option>
          <option value="Karnataka">Karnataka</option>
        </select>
        <div *ngIf="userForm.get('address.state').invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
          <span class="error" *ngIf="userForm.get('address.state').errors.required">State is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="">City:</label>
        <select name="" id="" class="form-control" formControlName="city">
          <option>Select City</option>
          <option value="Hyderabad">Hyderabad</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Bengaluru">Bengaluru</option>
        </select>
        <div *ngIf="userForm.get('address.city').invalid && isValidFormSubmitted !=null && !isValidFormSubmitted">
          <span class="error" *ngIf="userForm.get('address.city').errors.required">State is required</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary mr-2">{{buttomLabel}}</button>
      <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
